.favorites-wrapper{
    flex-direction: column;
    display: flex;
}

.favorites{
    display: flex;
    gap: 25px;
    overflow: auto;
    margin-bottom: 30px;
}
.items{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.loading{
    font-size: 40px;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}

.favorites-title{
    color: #fa6400;
    font-weight: 700;
}